* {

}
.active-users {
  background: #3b5998 ;
  color: white;
}
.active-user {
  margin-right: 10px;
}
.active-users .green-dot {
  width: 8px;
  height: 8px;
  margin-right: 2px;
  margin-left: 2px;
  display: inline-block;
  background-color: #2bb80e ;
  border-radius: 50%;
}

.chat-log {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}


